!!!
%html
  %head
    %title Rag Picker
    - %w[bold regular light thin].each do |variant|
      = stylesheet_link_tag "roboto_slab#{variant}/stylesheet.css", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag controller.controller_name, media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
